$header-bg: #3b2a4e;
$color-point: #d22673;
$karla: "Karla", sans-serif;
$mark: "Marck Script";
$text-white: #ffffff;


* {
    box-sizing: border-box;
  }
  
  html {
    width: 100%;
    height: 100%;
  }
  body {
    height: 100%;
  }
  
  .page {
    position: relative;
  
    display: grid;
    overflow: hidden;
  
    background-color: #fafafa;
  
    grid-gap: 60px;
    // grid-template-areas: "header" "slider" "content" "footer";
    grid-template-columns: 1fr;
  }
  
  .wrapper {
    position: relative;
  
    // overflow: hidden;
  
    width: 100%;
    max-width: 1170px;
    min-height: 100%;
    margin: 0 auto;
  }
  
  .full-bg {
    width: 100%;
  
    background-color: $header-bg;
  }
  
  .full-styles {
    display: grid;
    align-items: center;
  
    padding: 60px;
  
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 1.5fr 0.5fr;
    justify-items: center;
  }
  
  
  
  .content {
    // grid-area: content;
  
    &__inner {
      display: grid;
  
      grid-gap: 20px;
      grid-template-areas: "main  aside";
      grid-template-columns: 2fr 1fr;
    //   grid-template-columns: 760px 390px;
    }
  }
  
  
  
  @media (min-width: 800px) and (max-width: 1169px) {
    .wrapper {
      width: 96%;
    }
  
    .content {
      &__inner {
        width: 100%;
  
        grid-gap: 40px;
        grid-template-areas: "main aside";
        grid-template-columns: 4fr 1fr;
      }
    }
  }
  @media (min-width: 600px) and (max-width: 799px) {
    .wrapper {
      width: 96%;
    }
  
  
  
  
    .content {
      &__inner {
        width: 100%;
  
        grid-gap: 40px;
        grid-template-areas: "main aside";
        grid-template-columns: 3fr 1fr;
      }
    }
  }
  
  
  @media (max-width: 599px) {
    .wrapper {
      width: 94%;
    }
  
    .content {
      &__inner {
        width: 100%;
  
        grid-gap: 70px;
        grid-template-areas: "main" "aside";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }
    }
  }
  