$header-bg: #3b2a4e;
$color-point: #d22673;
$karla: "Karla", sans-serif;
$mark: "Marck Script";
$text-white: #ffffff;


.main {
    display: grid;
    align-content: start;
  
    grid-area: main;
    grid-gap: 80px;
    grid-template-columns: 1fr;
  }
  
  .profile--sm {
    display: none;
  }
  
  .categories--sm {
    display: none;
  }
  
  
  .articles {
    &__inner {
      display: grid;
  
      grid-gap: 80px;
      grid-template-columns: 1fr;
    }
  
  
  
    &__item {
      position: relative;
  
      display: grid;
  
      grid-gap: 40px;
      grid-template-areas: "img img"
      "text text"
      "social btn";
    }
  
    &__img {
      position: relative;
  
      grid-area: img;
    }
  
    &__img-item {
      display: block;
    }
  
    &__title {
      position: absolute;
      bottom: -70px;
  
      display: grid;
  
      width: 694px;
      height: 134px;
  
      background-color: rgba(#ffffff, 1);
  
      grid-gap: 20px;
      grid-template-columns: 12px 4fr 1fr;
  
  
      &::before {
        width: 12px;
        height: 100%;
  
        content: "";
  
        background-color: $color-point;
  
        grid-row: span 2;
      }
    }
  
    &__title-headline {
      align-self: end;
  
      margin-left: 20px;
  
      text-transform: uppercase;
  
      font-family: $karla;
      font-size: 22px;
      font-weight: 500;
    }
  
    &__title-tags {
      display: grid;
      order: 1;
  
      grid-gap: 15px;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: 1fr;
    }
  
    &__title-tags--profile {
      &::before {
        display: inline-block;
  
        width: 20px;
        height: 12px;
        margin-right: 4px;
  
        content: "";
  
         
        background-image: url(../../img/img-user.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
      }
    }
  
    &__title-tags--folder {
      &::before {
        display: inline-block;
  
        width: 20px;
        height: 12px;
        margin-right: 4px;
  
        content: "";
  
          
        background-image: url(../../img/img-folder.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
      }
    }
  
    &__title-tags--comment {
      &::before {
        display: inline-block;
  
        width: 18px;
        height: 12px;
        margin-right: 4px;
  
        content: "";
  
          
        background-image: url(../../img/img-comment.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
      }
    }
  
  
    &__title-tags--view {
      &::before {
        display: inline-block;
  
        width: 20px;
        height: 10px;
        margin-right: 4px;
  
        content: "";
  
        background-image: url(../../img/img-view.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
      }
    }
  
    &__title-tags-link {
      text-transform: uppercase;
  
      font-family: $karla;
      font-size: 14px;
    }
  
  
    &__text {
      margin-top: 60px;
  
      font-family: $karla;
      font-size: 14px;
      line-height: 26px;
  
      grid-area: text;
  
      &::first-letter {
        text-transform: uppercase;
  
        font-size: 22px;
        font-weight: 700;
      }
    }
  
    &__links {
      display: grid;
      align-items: center;
  
      grid-area: social;
      grid-gap: 16px;
      grid-template-columns: auto 1fr;
    }
  
    &__links-text {
      text-transform: uppercase;
  
      font-family: $karla;
      font-size: 20px;
      font-weight: 500;
    }
  }
  
  .date-articles {
    display: grid;
    align-items: center;
    align-self: center;
  
    width: 85px;
    height: 85px;
    margin-right: 26px;
  
    border-radius: 50%;
    background-color: $header-bg;
  
    grid-row: span 2;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    justify-self: end;
  
  
    &__day {
      padding-top: 17px;
  
      color: $text-white;
  
      font-family: $karla;
      font-size: 30px;
      font-weight: 700;
    }
  
    &__month {
      align-self: start;
  
      text-transform: uppercase;
  
      color: $text-white;
  
      font-family: $karla;
      font-size: 13px;
    }
  }
  
  .social {
    display: grid;
  
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-self: start;
    &__item {
      display: grid;
      align-items: center;
  
      width: 40px;
      height: 40px;
  
      transition: all 0.3s ease-out;
  
      border-radius: 50%;
  
      justify-items: center;
  
  
      &:hover {
        transition: all 0.3s ease-out;
        transform: scale(1.2);
      }
    }
  
    &__img {
      display: block;
  
      width: 100%;
    }
    &__link {
      padding: 8px;
    }
  
    &__item--twitter {
      background-color: #40bff5;
    }
  
    &__item--fb {
      background-color: #5d82d1;
    }
  
    &__item--google {
      background-color: #eb5e4c;
    }
  
    &__item--linkedin {
      background-color: #01649b;
    }
  
    &__item--pinterest {
      background-color: #bd081b;
    }
  }
  
  
  .btn {
    grid-area: btn;
    justify-self: end;
  }
  
  .btn-more {
    display: flex;
    align-items: center;
  
    width: 140px;
    height: 40px;
  
    text-transform: uppercase;
  
    color: $text-white;
    background-color: $header-bg;
  
    font-family: $karla;
    font-size: 16px;
    font-weight: 500;
  
  
    &::before {
      width: 6px;
      height: 40px;
      margin-right: 18px;
  
      content: "";
      transition: all 0.3s ease-out;
  
      background-color: $color-point;
    }
  
    &:hover {
      &::before {
        width: 20px;
        margin-left: -14px;
  
        transition: all 0.3s ease-out;
      }
    }
  }
  
  
  
  
  .articles-sm {
    position: relative;
    &__inner {
      display: grid;
  
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr;
    }
  
    &__item {
      position: relative;
  
      display: grid;
      align-content: start;
  
      grid-gap: 28px;
    }
  
    &__item-img {
      display: block;
    }
  
    &__item-title {
      text-transform: uppercase;
  
      color: $color-point;
  
      font-family: $karla;
      font-size: 22px;
      font-weight: 700;
    }
  
    &__item-text {
      color: #555555;
  
      font-family: $karla;
      font-size: 14px;
      line-height: 24px;
  
      &::first-letter {
        text-transform: uppercase;
  
        font-size: 22px;
        font-weight: 700;
      }
    }
  }
  
  
  .articles-sm__item .date-articles {
    position: absolute;
    top: 10px;
    left: 50px;
  
    margin: 0;
  }
  
  .articles-sm__item .btn-more {
    align-self: end;
  
    justify-self: end;
  }
  
  
  
  .advertisement {
    position: relative;
  
    &__inner {
      position: relative;
    }
    &__block {
      display: grid;
      align-items: center;
  
      width: 100%;
      height: 160px;
  
      text-align: сenter;
  
      background-color: rgb(143, 142, 142);
  
      justify-items: center;
    }
    &__link {
      width: 100%;
  
      text-align: center;
    }
  
    &__img {
      width: 100%;
      height: 160px;
    }
  
    &__block-text {
      text-transform: uppercase;
  
      color: $text-white;
  
      font-family: $karla;
      font-size: 30px;
      font-weight: 700;
    }
  
    &__block-text--span {
      color: $color-point;
    }
  }
  
  .page-numbers {
    position: relative;
    &__inner {
      position: relative;
    }
  
    &__list {
      display: grid;
      align-items: center;
  
      width: 50%;
      min-height: 50px;
  
      grid-gap: 5px;
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;
    }
  
    &__item {
      position: relative;
  
      width: 100%;
    }
  
    &__link {
      padding: 10px 14px;
  
      color: rgba(59, 42, 78, 0.5);
      border: 4px solid rgba(59, 42, 78, 0.5);
  
      font-family: $karla;
      font-size: 20px;
      font-weight: 600;
  
      &:hover {
        text-decoration: underline;
  
        color: rgba(59, 42, 78, 0.8);
        border: 4px solid rgba(59, 42, 78, 0.8);
      }
    }
  
    &__link--active {
      padding: 14px 18px;
  
      color: $text-white;
      border: none;
      background-color: rgba(59, 42, 78, 0.8);
  
      &:hover {
        text-decoration: underline;
  
        color: #000000;
        border: none;
      }
    }
  
    &__link--dots {
      color: rgba(0, 0, 0, 0.3);
  
      font-size: 20px;
      font-weight: 500;
  
      &:hover {
        color: #000000;
      }
    }
  }
  
  
  
  
  @media (min-width: 800px) and (max-width: 1169px) {
    .articles {
      &__title {
        width: 90%;
  
        grid-gap: 16px;
      }
  
      &__title-tags {
        grid-gap: 10px;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: 20px 20px;
      }
  
      &__title-headline {
        margin-left: 10px;
  
        font-size: 20px;
      }
  
      .date-articles {
        width: 70px;
        height: 70px;
        margin-right: 10px;
  
        &__day {
          padding-top: 19px;
  
          font-size: 20px;
        }
  
        &__month {
          font-size: 8px;
        }
      }
    }
  }
  @media (min-width: 600px) and (max-width: 799px) {
    .articles {
      &__title {
        width: 90%;
        height: 115px;
  
        grid-gap: 20px;
      }
  
      &__title-tags {
        font-size: 12px;
  
        grid-gap: 10px 20px;
        grid-template-columns: repeat(2, 110px);
        grid-template-rows: 20px 20px;
      }
  
  
  
      &__title-headline {
        margin-left: 5px;
  
        font-size: 16px;
      }
    }
  
    .date-articles {
      width: 70px;
      height: 70px;
  
  
      &__day {
        font-size: 20px;
      }
  
      &__month {
        font-size: 10px;
      }
    }
  
    .social {
      grid-template-columns: 1fr 1fr;
  
      &__item {
        &:nth-child(n+5):nth-child(n) {
          display: none;
        }
      }
    }
  
  
    .btn {
      align-self: center;
    }
  
  
    .articles-sm .date-articles {
      left: 2%;
    }
    .advertisement {
      &__block-text {
        font-size: 22px;
      }
    }
  }
  
  @media (min-width: 450px) and (max-width: 599px) {
   

    
    .articles {
      &__title {
        width: 90%;
        height: 115px;
  
        grid-gap: 12px;
      }
  
      &__title-tags {
        width: 80%;
  
        font-size: 10px;
  
        grid-gap: 5px;
        grid-template-columns: repeat(2, 130px);
        grid-template-rows: 20px 20px;
      }
  
      &__title-tags-link {
        font-size: 12px;
      }
  
      &__title-headline {
        margin-left: 5px;
  
        font-size: 18px;
      }
    }
  
    .social {
      justify-self: center;
    }
  
    .date-articles {
      width: 60px;
      height: 60px;
  
  
  
      &__day {
        padding-top: 10px;
  
        font-size: 18px;
      }
  
      &__month {
        font-size: 10px;
      }
    }
  
  
  
    .btn {
      justify-self: center;
    }
    .btn-more {
      width: 100px;
  
      font-size: 12px;
  
  
  
      &::before {
        margin-right: 10px;
      }
    }
  
    .articles-sm {
      &__inner {
        grid-template-columns: 1fr;
      }
  
  
      &__item-title {
        font-size: 18px;
      }
    }
  
    .articles-sm .date-articles {
      left: 2%;
  
      width: 65px;
      height: 65px;
  
  
      &__day {
        font-size: 18px;
      }
  
      &__month {
        font-size: 10px;
      }
    }
    .advertisement {
      &__block-text {
        font-size: 22px;
      }
    }
  }
  
  @media (max-width: 449px) {
   

    

    .articles {
      &__title {
        width: 90%;
        height: 115px;
  
        grid-gap: 12px;
      }
  
      &__title-tags {
        width: 80%;
  
        grid-gap: 8px;
        grid-template-columns: repeat(2, 90px);
        grid-template-rows: 20px 20px;
      }
  
  
  
      &__title-headline {
        margin-left: 5px;
  
        font-size: 16px;
      }
  
      &__links {
        grid-template-columns: 1fr;
        justify-items: center;
      }
  
      &__title-tags-link {
        font-size: 11px;
      }
    }
  
    .social {
      justify-self: center;
    }
  
    .date-articles {
      width: 45px;
      height: 45px;
  
  
      &__day {
        padding-top: 8px;
  
        font-size: 10px;
      }
  
      &__month {
        font-size: 6px;
      }
    }
  
    .social {
      grid-template-columns: 1fr 1fr;
  
      &__item {
        &:nth-child(n+5):nth-child(n) {
          display: none;
        }
      }
    }
  
    .btn {
      align-self: center;
  
      justify-self: center;
    }
    .btn-more {
      width: 100px;
  
      font-size: 12px;
  
  
  
      &::before {
        margin-right: 10px;
      }
    }
  
    .articles-sm {
      &__inner {
        grid-template-columns: 1fr;
      }
  
  
      &__item-title {
        font-size: 18px;
      }
    }
  
    .articles-sm .date-articles {
      left: 2%;
  
      width: 65px;
      height: 65px;
  
  
      &__day {
        font-size: 18px;
      }
  
      &__month {
        font-size: 10px;
      }
    }
    .advertisement {
      &__block-text {
        font-size: 22px;
      }
    }
  }
  